<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <button class="navbar-btn btn btn-primary dropdown-toggle glyphicon glyphicon-user" {% if user.is_authenticated %}style="color:#00aa1a"{% endif %} data-toggle="dropdown">
            {{ user.username }}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Выход</a>
                {% else %}
                <a href="{% url 'login' %}">Вход</a>
                {% endif %}
            </li>
            <li><a href="{% url 'signup' %}">Регистрация</a></li>
        </ul>
    </li>
</ul>