{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block TITLE %} {% endblock TITLE %}</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block custom_head %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-default" id="header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img class="pic_margin" alt="Brand" src="{% static "images/pic_nav.png" %}" height=55>
            </a>
        </div>
        <div class="collapse navbar-collapse">

            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-primary">Поиск</button>
            </form>

            {% include 'base/base_dropdown_menu.html' %}
            {% include 'base/base_dropdown_user.html' %}
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row content_height">
        <div class="col-xs-2 col-md-2">
            {% block links %}
                <p> <a href="{% url 'competition-new' %}">Создание соревнований</a></p>
                <p>  <a href="{% url 'competitions' %}">Список соревнований</a> </p>
                <p>  <a href="{% url 'horse-new' %}">Добавление новой лошади</a> </p>
                <p>  <a href="{% url 'horses' %}">Список лошадей</a> </p>
                <p>  <a href="{% url 'pairs' %}">Список всех пар</a> </p>
                <p>  <a href="{% url 'pair-new' %}">Создание пары</a> </p>
                <p>  <a href="{% url 'team-new' %}">Добавление новой команды</a> </p>
                <p>  <a href="{% url 'pair-on-start-new' %}">Добавление пары на старт</a> </p>
                <p>  <a href="{% url 'description-step-new' %}">Добавление описания этапа</a> </p>
                <p>  <a href="{% url 'statistic_way' %}">Статистика по треку</a> </p>
            {% endblock links %}
        </div>
        <div class="col-xs-8 col-md-8 mark">
            {% block content_header %}
            {% endblock content_header %}
            {% block content %}
            {% endblock content %}
        </div>
        <div class="col-xs-2 col-md-2">
            <row><h3 align="center">БФКС</h3></row>
            <row><a href="http://bfks.by"><img class="pic" src="{% static "images/bfks.png" %}" width="190"
                                               height="130" alt="БФКС" align="middle"></a></row>
            <row><h3 align="center">МФКС</h3></row>
            <row><a href="http://www.fei.org"><img class="pic" src="{% static "images/brand.gif" %}" width="190"
                                                   height="130" alt="БФКС" align="middle"></a></row>
            <row><h3 align="center">РФКС</h3></row>
            <row><a href="http://fksr.ru"><img class="pic" src="{% static "images/rf.jpg" %}" width="190"
                                               height="130" alt="БФКС" align="middle"></a></row>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 mark" id="footer">
            <div class="col-md-4 col-xs-4 footer_col" id="social">
                <h4 align="center" class="col">СОЦ. СЕТИ</h4>
                <a href="http://twitter.com/" class="social-icon twitter"></a>
                <a href="http://facebook.com/" class="social-icon facebook"></a>
                <a href="http://plus.google.com/" class="social-icon google-plus"></a>
                <a href="http://vimeo.com/" class="social-icon-small vimeo"></a>
                <a href="http://youtube.com/" class="social-icon-small youtube"></a>
                <a href="http://flickr.com/" class="social-icon-small flickr"></a>
                <a href="http://instagram.com/" class="social-icon-small instagram"></a>
            </div>
            <div class="col-md-4 col-xs-4 footer_col">
                <h1>  <span class="col" id="time">00:00:00</span></h1>
            </div>

            <script type="text/javascript">
                setInterval(function () {
                    date = new Date(),
                        h = date.getHours(),
                        m = date.getMinutes(),
                        s = date.getSeconds(),
                        h = (h < 10) ? '0' + h : h,
                        m = (m < 10) ? '0' + m : m,
                        s = (s < 10) ? '0' + s : s,
                        document.getElementById('time').innerHTML = h + ':' + m + ':' + s;
                }, 1000);
            </script>

        </div>
    </div>
</div>

{#    <img src="{% static "db_scheme.jpg" %}" alt="My image"/>#}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</body>
</html>