{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block TITLE %} {% endblock TITLE %}</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css"  %}"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 mark" id="header">
            {% block header %}
                Header
            {% endblock header %}
        </div>
    </div>
    <div class="row content_height">
        <div class="col-xs-4 col-md-4 mark">
            {% block links %}
               <p> <a href="{% url 'create_competition' %}">Создание соревнований</a></p>
               <p>  <a href="{% url 'list_competition_view' %}">Список соревнований</a> </p>
               <p>  <a href="{% url 'create_horse' %}">Добавление новой лошади</a> </p>
               <p>  <a href="{% url 'list_horses_view' %}">Список лошадей</a> </p>
               <p>  <a href="{% url 'create_team' %}">Добавление новой команды</a> </p>
{#               <p>  <a href="{% url 'list_team_view' %}">Состав команды</a> </p>#}
            {% endblock links %}
        </div>
        <div class="col-xs-6 col-md-6 mark">
            {% block content %}
            {% endblock content %}
        </div>
        <div class="col-xs-2 col-md-2 mark">
            {% block right %}
            {% endblock right %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mark" id="footer">
            {% block footer %}
                Footer
            {% endblock footer %}
        </div>
    </div>
</div>

{#    <img src="{% static "db_scheme.jpg" %}" alt="My image"/>#}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>