{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block TITLE %} {% endblock TITLE %}</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css"  %}"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mark" id="header">
            {% block header %}
                <nav class="navbar navbar-default bg">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{% url 'index' %}">
                                <img class="pic_margin" alt="Brand" src="{% static "pic_nav.png"  %}" height=55  >
                            </a>
                        </div>
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default glyphicon glyphicon-search"></button>
                        </form>
                        <form class="navbar-form navbar-left">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle " type="button" data-toggle="dropdown">Меню
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">О нас</a></li>
                                    <li class="dropdown-submenu">
                                        <a href="#">Календарь соревнований</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{% url 'list_competition_view' %}">Все</a></li>
                                            <li><a href="#">Предстоящие</a></li>
                                            <li><a href="#">Активные</a></li>
                                            <li><a href="#">Прошедшие</a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown-submenu">
                                        <a href="#">Информация</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Организаторы</a></li>
                                            <li><a href="#">Ветеринары</a></li>
                                            <li><a href="#">Судьи</a></li>
                                            <li><a href="#">Статистики</a></li>
                                            <li><a href="#">Всадники</a></li>
                                            <li><a href="#">Лошади</a></li>
                                        </ul>
                                    </li>

                                </ul>
                            </div>
                        </form>
                        <form class="navbar-form navbar-left">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle glyphicon glyphicon-user" type="button" data-toggle="dropdown">
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'user_authenticate' %}">Вход</a></li>
                                    <li><a href="{% url 'create_user' %}">Регистрация</a></li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </nav>
            {% endblock header %}
        </div>
    </div>
    <div class="row content_height">
        <div class="col-xs-3 col-md-3 mark">
            {% block links %}
                <p> <a href="{% url 'create_competition' %}">Создание соревнований</a></p>
                <p>  <a href="{% url 'list_competition_view' %}">Список соревнований</a> </p>
                <p>  <a href="{% url 'create_horse' %}">Добавление новой лошади</a> </p>
                <p>  <a href="{% url 'list_horses_view' %}">Список лошадей</a> </p>
                <p>  <a href="{% url 'list_pairs_all' %}">Список всех пар</a> </p>
                <p>  <a href="{% url 'create_pair' %}">Создание пары</a> </p>
                <p>  <a href="{% url 'create_team' %}">Добавление новой команды</a> </p>
                <p>  <a href="{% url 'create_pair_on_start' %}">Добавление пары на старт</a> </p>
                <p>  <a href="{% url 'create_description_step' %}">Добавление описания этапа</a> </p>
                <p>  <a href="{% url 'statistic_way' %}">Статистика по треку</a> </p>
            {% endblock links %}
        </div>
        <div class="col-xs-7 col-md-7 mark">
            {% block content %}
            {% endblock content %}
        </div>
        <div class="col-xs-2 col-md-2 mark">
            <row><h3 align="center">БФКС</h3></row>
            <row><a href="http://bfks.by"><img class="pic" src="{% static "bfks.png"  %}" width="190"
                                               height="130" alt="БФКС" align="middle"></a></row>
            <row><h3 align="center">МФКС</h3></row>
            <row><a href="http://www.fei.org"><img class="pic" src="{% static "brand.gif"  %}" width="190"
                                                   height="130" alt="БФКС" align="middle"></a></row>
            <row><h3 align="center">РФКС</h3></row>
            <row><a href="http://fksr.ru"><img class="pic" src="{% static "rf.jpg"  %}" width="190"
                                               height="130" alt="БФКС" align="middle"></a></row>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 mark" id="footer">
                        <div class="col-md-4 col-xs-4 footer_col" id="social">
                <h4 align="center" class="col">СОЦ. СЕТИ</h4>
                <a href="http://twitter.com/" class="social-icon twitter"></a>
                <a href="http://facebook.com/" class="social-icon facebook"></a>
                <a href="http://plus.google.com/" class="social-icon google-plus"></a>
                <a href="http://vimeo.com/" class="social-icon-small vimeo"></a>
                <a href="http://youtube.com/" class="social-icon-small youtube"></a>
                <a href="http://flickr.com/" class="social-icon-small flickr"></a>
                <a href="http://instagram.com/" class="social-icon-small instagram"></a>
            </div>
            <div class="col-md-4 col-xs-4 footer_col">
                <h1>  <span class="col" id="time">00:00:00</span></h1>
            </div>

            <script type="text/javascript">
                setInterval(function () {
                    date = new Date(),
                        h = date.getHours(),
                        m = date.getMinutes(),
                        s = date.getSeconds(),
                        h = (h < 10) ? '0' + h : h,
                        m = (m < 10) ? '0' + m : m,
                        s = (s < 10) ? '0' + s : s,
                        document.getElementById('time').innerHTML = h + ':' + m + ':' + s;
                }, 1000);
            </script>

        </div>
    </div>
</div>

{#    <img src="{% static "db_scheme.jpg" %}" alt="My image"/>#}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</body>
</html>