{% extends "base.html" %}

{% block TITLE %}список лошадей{% endblock TITLE %}

{% block content %}
    <h3 align="center">Список зарегестрированных лошадей</h3>
    <div class="row">
    <div class="col-xs-4 col-md-4 markRow">
        <h4 align="center">Имя лошади</h4>
    </div>
    <div class="col-xs-4 col-md-4 markRow">
        <h4 align="center">Владелец</h4>
    </div>
    <div class="col-xs-4 col-md-4 markRow">
        <h4 align="center">Дата рождения</h4>
    </div>
    </div>
    {% for horse in horses %}
        <div class="row">
        <div class="col-xs-4 col-md-4 markRow">
            <h5 align="center">{{ horse.name }}</h5>
        </div>
        <div class="col-xs-4 col-md-4 markRow">
            <h5 align="center">{{ horse.owner }}</h5>
        </div>
        <div class="col-xs-3 col-md-3 markRow">
          <h5 align="center">{{ horse.birthday }}</h5>
        </div>
            <a href="{% url 'horse-update' horse.id %}">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Редактировать"></span>
            </a>
            <a href="{% url 'horse-delete' horse.id %}">
                <span class="glyphicon glyphicon-trash" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Удалить"></span>
            </a>
        </div>
    {% endfor %}


{% endblock content %}

{% block right %}
    <h3>Реклама</h3>
{% endblock right %}