{% extends "base/base.html" %}

{% block TITLE %}список команд{% endblock TITLE %}

{% block content %}
    <h4 align="center">Список команд на соревновании {{ competition.place }} ({{ competition.begin }} - {{ competition.close }})</h4>
    {% for team in teams %}
        <div class="row">
            <div class="col-xs-12 col-md-12 markRow">
                <li><a href="{% url 'team-pk' team.id %}">{{ team.name }}</a></li>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
