{% extends "base/base.html" %}

{% block TITLE %}список соревнований{% endblock TITLE %}

{% block content %}
    <div class="panel panel-success">
        <!-- Default panel contents -->
        <div class="panel-heading">Список соревнований</div>
        <div class="panel-body">
            <p>Panel Body</p>
        </div>

        <!-- Table -->
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Место</th>
                <th>Начало</th>
                <th>Конец</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for competition in competitions %}
                <tr>
                    <td scope="row">
                        {{competition.pk}}
                    </td>
                    <td class="col-md-5">
                        {{ competition.place }}
                    </td>
                    <td >
                        {{ competition.begin | date:"DATETIME_FORMAT" }}
                    </td>
                    <td >
                        {{ competition.close | date:"DATETIME_FORMAT" }}
                    </td>
                    <td class="col-md-1 text-center">
                        <a href="{% url 'competition-map' competition.pk %}">
                            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}

{% block right %}
    <h3>Реклама</h3>
{% endblock right %}

