{% extends "base/base.html" %}

{% block TITLE %}Детали соревнования{% endblock TITLE %}

{% block content %}
    <div>
        {{ competition.place }}
    </div>
    <div>
        {{ competition.begin | date:"DATETIME_FORMAT"}}
    </div>
    <div>
        {{ competition.close | date:"DATETIME_FORMAT" }}
    </div>
    <div>
        <h3>Организатор</h3>
        <div>
            Имя пользователя: {{ competition.manager.username }}
        </div>
        <div>
            ФИО: {{ competition.manager.first_name }} // {{ competition.manager.last_name }}
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2">
                <h3>Команды</h3>
                {% for team in competition.teams.all %}
                    <div>
                        {{ team.name }}
                    </div>
                    {#                    <h4>Пары</h4>#}
                    {#                    {% for pair in team.pairs.all %}#}
                    {#                        <div>Название пары: {{ pair }}</div>#}
                    {#                    {% endfor %}#}

                {% endfor %}
            </div>
            <div class="col-xs-2">
                <h3>Судьи</h3>
                {% for judge in competition.judges.all %}
                    <div>{{ judge.first_name }} // {{ judge.last_name }}</div>
                {% endfor %}
            </div>
            <div class="col-xs-3">
                <h3>Хронометристы</h3>
                {% for timer in competition.timekeepers.all %}
                    <div>{{ timer.first_name }} // {{ timer.last_name }}</div>
                {% endfor %}
            </div>
            <div class="col-xs-2">
                <h3>Статистики</h3>
                {% for stat in competition.stats.all %}
                    <div>{{ stat.first_name }} // {{ stat.last_name }}</div>
                {% endfor %}

            </div>
            <div class="col-xs-3">
                <h3>Ветеренары</h3>
                {% for vet in competition.vets.all %}
                    <div>{{ vet.first_name }} // {{ vet.last_name }}</div>
                {% endfor %}

            </div>


        </div>
    </div>
    <!--




-->
{% endblock content %}
